<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizePro <%= urlPath.split("/").pop() %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <div id="main-content" class="main-content-file">
            <!-- file info area -->
            <div class="traversal-detail file-page">
                <button onclick="navigateToUrl('/home/' + '<%= urlPath %>'.split('/').slice(0, -1).join('/'))">
                    <img src="/images/back.png" alt="">
                </button>
                <input type="text" readonly value="/home/<%=urlPath%>">
                <button class="delete">Delete</button>
            </div>
            <!-- File explorer area -->
            <div class="interact">
                <div class="view-container">
                    <iframe src="/uploads/<%=pdfName%>?filename=<%=pdfName%>" title="Embedded PDF" resizable></iframe>
                    <div class="quiz-view"></div>
                </div>
                <div class="chat-container">
                    <div class="messages">
                        <div class="message greeting">
                            <div class="message-header"><img src="/images/answer-chat.png" alt="answer chat icon"> Summarize Pro:</div>
                            <div class="message-body">Hello! I am here to help consolidate your learning. <br>Let me start by generating a summary for "<%= urlPath.split("/").pop() %>":<br><br>
                                <%- summary %>
                            </div>
                        </div>
                    </div>
                    <div class="chat-interact">
                        <form method="POST">
                            <input name="message" type="text" placeholder="Type here to chat..." required>
                            <input hidden name="filename" type="text" value="<%=pdfName%>">
                            <button type="submit"><img src="/images/send.png" alt="send icon"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-sidebar">

            </div>
        </div>

        <div id="popupContainer" style="display: none;">
        </div>
    </div>
</body>

<script src="/js/file.js"></script>
</html>
