<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizePro <%= urlPath.split("/").pop() %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <div id="main-content" class="main-content-file <%=summary==null?'processing':''%>">
            <!-- file info area -->
            <div class="traversal-detail file-page">
                <button onclick="navigateToUrl('/home/' + '<%= urlPath %>'.split('/').slice(0, -1).join('/'))">
                    <img src="/images/back.png" alt="">
                </button>
                <input type="text" readonly value="/home/<%=urlPath%>">
                <button class="delete" onclick="deleteFile()">Delete</button>
            </div>
            <!-- Main area -->
            <div class="interact">
                <div class="view-container">
                    <iframe src="/uploads/<%=pdfName%>?filename=<%=pdfName%>" title="Embedded PDF" resizable></iframe>
                    <div class="quiz-view">
                        <% if(quiz == "") {%>
                            <span class="make-quiz-title"><img src="/images/quiz.png" alt="quiz icon"> Multiple Choice<br>Quiz</span>
                            <form onsubmit="createQuiz(event)" class="generate-quiz" action="/create_quiz" method="post">
                                <span class="number-of-questions">Number of questions:</span>
                                <div class="options">
                                    <input name="option" type="radio" id="3" value="3" hidden>
                                    <label class="selectable" for="3">3</label>
                                    <input name="option" type="radio" id="5" value="5" hidden>
                                    <label class="selectable" for="5">5</label>
                                    <input name="option"  type="radio" id="10" value="10" hidden>
                                    <label class="selectable" for="10">10</label>
                                </div>
                                <input hidden name="filename" type="text" value="<%=pdfName%>">
                                <button class="creat-quiz">Create Quiz</button>
                            </form>
                        <% } else if(quiz.began == null){ %>
                            <span class='attempt-quiz'>
                                Once you begin, you have <% let number = 0; %>
                                <% for (const part in JSON.parse(quiz.quiz)) { %>
                                    <% number++; %>
                                <% } %>
                                <%= number %> minutes to complete this quiz.
                                <button onclick='displayQuiz(true)'>Begin?</button>
                            </span>
                        <% } else{ %>
                            <script>
                                document.addEventListener("DOMContentLoaded", function(){
                                    displayQuiz(true)
                                })
                            </script>
                        <% } %>
                    </div>
                </div>
                <div class="chat-container">
                    <div class="messages">
                        <div class="message greeting">
                            <div class="message-header"><img src="/images/answer-chat.png" alt="answer chat icon"> Summarize Pro:</div>
                            <div class="message-body">Hello! I am here to help consolidate your learning. <br>Let me start by generating a summary for "<%= urlPath.split("/").pop() %>":<br><br>
                                <%- summary %>
                            </div>
                        </div>

                        <% if(messageHistory != ""){ %>
                            <%const jsonstring = messageHistory;%>
                            <%const parsedMessageHistory = JSON.parse(jsonstring);%>
                            <% for(let  message of parsedMessageHistory){ %>
                                <div class="message question">
                                    <div class="message-header">
                                        <img src="/images/question-chat.png" alt="question chat icon"> SummarizePro:
                                    </div>
                                    <div class="message-body">
                                        <%-message["Q"]%>
                                    </div>
                                </div>
                                <div class="message answer">
                                    <div class="message-header">
                                        <img src="/images/answer-chat.png" alt="answer chat icon"> SummarizePro:
                                    </div>
                                    <div class="message-body">
                                        <%-message["A"]%>
                                    </div>
                                </div>
                            <% } %>
                        <%}%>

                    </div>
                    <div class="chat-interact">
                        <form method="POST">
                            <input autocomplete="off" spellcheck="false" name="message" type="text" placeholder="Type here to chat..." required>
                            <input hidden name="filename" type="text" value="<%=pdfName%>">
                            <% if(quiz != "") {%>
                                <script id="preloadedQuiz" type="application/json">
                                    <%- JSON.stringify(quiz) %>
                                </script>
                            <% } %>
                            <button type="submit"><img src="/images/send.png" alt="send icon"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-sidebar">
                <button class="attempt-quiz" onclick="location.reload();">Attempt a quiz</button>
                <h2>Quizzes history:</h2>
                <div class="quiz-history">
                    <% if(quizHistory.length > 0){ %>
                        <% for(let quiz of quizHistory){ %>
                            <%
                                const date = new Date(parseInt(quiz["began"]));

                                // Extract day, month, and year components from the date
                                const day = date.getDate().toString().padStart(2, '0'); // Add leading zero if necessary
                                const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based, so add 1
                                const year = date.getFullYear().toString().slice(-2); // Extract last two digits of the year

                                // Extract hour and minute components from the date
                                let hours = date.getHours();
                                const minutes = date.getMinutes().toString().padStart(2, '0'); // Add leading zero if necessary

                                const amPm = hours >= 12 ? 'pm' : 'am';

                                hours = hours % 12 || 12; // If hours is 0, change it to 12

                                const formattedDate = `${hours}:${minutes} ${amPm}, ${day}/${month}/${year}`;
                            %>
                            <button onclick="submitQuiz(JSON.parse(document.getElementById('<%=quiz['began']%>').textContent), '<%=formattedDate%>')" class="historic-quiz">
                                <%= formattedDate %>
                            </button>
                            <script id="<%=quiz["began"]%>" type="application/json">
                                <%- JSON.stringify(quiz["submittedQuiz"]) %>
                            </script>
                        <% } %>
                    <% } else{ %>
                        <span class="no-quiz history">You have not tried any quizzes yet...</span>
                    <% } %>
                </div>
                <button class="attempt-quiz clear-history" onclick="resetHistory()">Reset chat history</button>
            </div>
        </div>

        <div id="popupContainer" style="display: none;">
        </div>
    </div>
</body>

<script src="/js/file.js"></script>
</html>
