<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizePro <%= urlPath.split("/").pop() %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <div id="sidebar">
            <a href="/home/" id="logo">
                <img src="/images/logo.png" alt="SummarizePro Logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/" class="link home-sidebar">
                            <img src="/images/home.png" alt="home icon">
                            home
                        </a>
                        <span>
                            <% if(urlPath.split("/").slice(0, -1).pop() !== undefined) { %>.../<%}%><%= urlPath.split("/").slice(0, -1).pop() %>/
                        </span>
                    </li>

                    <% for(let path in fs) { %>
                        <li>
                            <a onclick="navigateToUrl('/home/<%= (urlPath.split('/').slice(0, -1).pop() ? urlPath.split('/').slice(0, -1).pop() : ``) + '/' + path %>')" class="link"><%= path %>/</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <div id="profile" class="profile-bottom">
                <button class="dropdown-btn"><img src="/images/email.png" alt="email icon">blah@gmail.com</button>
                <div class="dropdown-menu">
                    <a onclick="location.href='/logout'"><img src="/images/key.png" alt="key icon"><span>&nbsp;Change password</span></a>
                    <a onclick="location.href='/logout'"><img src="/images/logout.png" alt="logout icon"><span>&nbsp;Logout</span></a>
                </div>
            </div>
        </div>

        <div id="main-content">
            <!-- file info area -->
            <div class="traversal-detail file-page">
                <button onclick="navigateToUrl('/home/' + '<%= urlPath %>'.split('/').slice(0, -1).join('/'))">
                    <img src="/images/back.png" alt="">
                </button>
                <input type="text" readonly value="/home/<%=urlPath%>">
                <button class="delete">delete</button>
            </div>
            <!-- File explorer area -->
            <div class="file-explorer">
               
            </div>
        </div>

        <div id="popupContainer" style="display: none;">
        </div>
    </div>
</body>

<script src="/js/home.js"></script>
</html>
