<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummarizePro Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%= console.log(fs) %>
    <div id="app">
        <div id="sidebar">
            <a href="/home/" id="logo">
                <img src="/images/logo.png" alt="SummarizePro Logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/" class="link home-sidebar">
                            <img src="/images/home.png" alt="home icon">
                            home
                        </a>
                        <span>
                            <% if(urlPath !== "") { %>.../<%}%><%= urlPath.split("/").pop() %>/
                        </span>
                    </li>

                    <% for(let path in fs) { %>
                        <li>
                            <a onclick="navigateToUrl(((window.location.pathname.slice(-1) === '/') ? window.location.pathname.slice(0, -1) : window.location.pathname) + '/' + '<%= path %>')" class="link"><%= path %>/</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <div id="profile" class="profile-bottom">
                <button class="dropdown-btn"><img src="/images/email.png" alt="email icon">blah@gmail.com</button>
                <div class="dropdown-menu">
                    <a onclick="location.href='/logout'"><img src="/images/key.png" alt="key icon"><span>&nbsp;Change password</span></a>
                    <a onclick="location.href='/logout'"><img src="/images/logout.png" alt="logout icon"><span>&nbsp;Logout</span></a>
                </div>
            </div>
        </div>

        <div id="main-content">
            <!-- Content header with buttons and search -->
            <div class="content-header">
                <button onclick="createFolder()">New folder</button>
                <button onclick="uploadFile()">+ Create file</button>
                <button>Delete selected</button>
                <div><input type="search" placeholder="Search here"></div>
            </div>
            <!-- Folder info area -->
            <div class="traversal-detail">
                <button onclick="navigateToUrl('/home/' + '<%= urlPath %>'.split('/').slice(0, -1).join('/'))">
                    <img src="/images/back.png" alt="">
                </button>
                <input type="text" readonly value="/home/<%=urlPath%>">
            </div>
            <!-- File explorer area -->
            <div class="file-explorer">
                <% for(let path in fs){ %>
                    <div class="folder" onclick="navigateToUrl(((window.location.pathname.slice(-1) === '/') ? window.location.pathname.slice(0, -1) : window.location.pathname) + '/' + '<%= path %>')">
                        <img src="/images/folder_icon.png" alt="folder icon">
                        <span><%= path %></span>
                    </div>
                <% } %>
                <% if(fs.length == 0){ %>
                    Welcome to SummarizePro. For help getting started, click here.
                <% } %>

                <% for(let file in files){ %>
                    <div class="file" onclick="navigateToUrl((((window.location.pathname.slice(-1) === '/') ? window.location.pathname.slice(0, -1) : window.location.pathname) + '/' + '<%= file %>.file'))">
                        <% if(files[file]){ %>
                            <img src="/images/file_icon.png" alt="file icon">
                        <% }else { %>
                            <img class="processing" src="/images/file_loading_icon.gif" alt="file loading icon">
                        <% } %>
                        <span><%= file %></span>
                    </div>

                <% } if(Object.keys(files).length == 0 && Object.keys(fs).length == 0){ %>
                    <span>Nothing in here yet... <br>click here for help getting started</span>
                <% } %>
            </div>
        </div>

        <div id="popupContainer" style="display: none;">
            <div class="popupContent uploadDialogue" style="display: none;">
                <h1>Create a file in this directory:</h1>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div>
                        <input type="text" hidden name="path" class="folderPathVar" required>
                        <label id="uploadFileTitleLabel" for="uploadFileTitle">Title: </label>
                        <input name="title" id="uploadFileTitle" type="text" pattern="^[a-zA-Z0-9\s\._\-]*$" title="Only letters, numbers, spaces, dots, underscores, and dashes are allowed" required>
                    </div>
                    <label onclick="document.querySelector('#fileInput').click()" class="fileInputLabel"><img src="/images/upload.png" alt="upload icon">&nbsp;upload</label>
                    <input accept=".pdf" name="file" type="file" id="fileInput" class="fileInput" style="display: none;" required>
                    <span class="fileInputLabelName">Select a file...</span>
                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="create-button" action="submit">Create file</button>
                        <button type="button" class="cancel-button"  onclick="closeUploadFile()">Cancel</button>
                    </div>
                </form>
            </div>

            <div class="popupContent createFolderDialogue" style="display: none;">
                <h1>Create a new folder in this directory:</h1>
                <form action="/newfolder" method="post">
                    <div>
                        <input type="text" hidden name="path" class="folderPathVar" required>
                        <label id="uploadFileTitleLabel" for="uploadFileTitle">Title: </label>
                        <input name="title" id="uploadFileTitle" type="text" pattern="^[a-zA-Z0-9\s\._\-]*$" title="Only letters, numbers, spaces, dots, underscores, and dashes are allowed" required>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="create-button" action="submit">Create file</button>
                        <button type="button" class="cancel-button"  onclick="closeCreateFolder()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="/js/home.js"></script>
</html>
